@charset "utf-8";
/* CSS Document */

/*reset*/
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0 auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*:focus {
	outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}

body {
	line-height: 1;
}
a {
	text-decoration:none;
	outline:none;
	background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
a img {
	border:none;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ol, ul, nav {
    list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input, textarea {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
	outline:none;
	border-radius: 0;
	-webkit-appearance:none;
}
input[type="submit"], input[type="button"], input[type="reset"] {
    cursor: pointer;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
.clear {
	clear:both;
	display:block;
	height:0;
	overflow:hidden;
}
.clearfix {
	zoom:1;
}
.clearfix:after {
	clear:both;
	display:block;
	height:0;
	content:"";
	visibility:hidden;
}